<template name="eventDisplay">
    <div id="event-{{id}}" class="event">
        <header class="event-header">
            <img class="event-preview" src="#">
            <h3 class="event-name">
                {{name}}
            </h3>
            <p class="event-info">
                Du
                <time class="event-begin">
                    {{begin}}
                </time>
                au
                <time class="event-end">
                    {{end}}
                </time>
                <span class="event-price pull-right">
                    {{price}} €
                </span>
            </p>
        </header>

        <p class="event-comment">
            {{comment}}
        </p>

        <div class="event-map">
            <div class="event-google-map">

            </div>
            <p class="event-location">
                <span class="event-address">
                    {{address}}
                </span>
                <br>
                <span class="event-zip-code">
                    {{zipCode}}
                </span>
                <span class="event-city">
                    {{city}}
                </span>
                <span class="event-country">
                    {{country}}
                </span>
            </p>
        </div>

        <div class="event-external">
            <p class="event-external-links">
                <a class="btn btn-default" href="{{link}}">
                    <i class="fa fa-external-link"></i>
                    En savoir plus
                </a>
            </p>
        </div>
    </div>
</template>
