<template name="eventDisplay">
    <div id="event-{{_id}}" class="event animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <img class="event-preview img-responsive img-rounded" src="/upload/{{_id}}{{imageExtension}}">
                <header class="event-header">
                    <h3>
                <span class="event-price">
                    {{price}} €
                </span>
                <span class="event-name">
                    {{name}}
                </span>
                    </h3>
                    <p class="event-info">
                        Du
                        <time class="event-begin">
                            {{begin}}
                        </time>
                        au
                        <time class="event-end">
                            {{end}}
                        </time>
                    </p>
                </header>

                <p class="event-comment">
                    {{comment}}
                </p>

                <div class="text-right">
                    <p class="event-location">
                        <span class="event-address">
                            {{address}}
                        </span>
                            <br>
                        <span class="event-zip-code">
                            {{zipCode}}
                        </span>
                        <span class="event-city">
                            {{city}}
                        </span>
                        <span class="event-country">
                            {{country}}
                        </span>
                    </p>

                    <div class="event-external">
                        <p class="event-external-links">
                            <a href="{{link}}" class="btn btn-info">
                                <i class="fa fa-external-link"></i>
                                Lien externe
                            </a>
                            <a class="btn btn-default event-more" href="{{pathFor route='eventShow' _id=_id}}">
                                <i class="fa fa-rocket"></i>
                                En savoir plus
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
