<template name="eventPanel">
    <div class="panel panel-default event-panel">
        <div class="panel-heading">
            <span class="badge">{{length}}</span>
            <span class="panel-title">Évènements</span>
            <span class="pull-right">
                <button type="button" id="event-add" class="btn btn-success btn-xs">
                    <i class="fa fa-fw fa-plus"></i>
                    Ajouter
                </button>
            </span>
        </div>
        {{#if empty}}
            <div class="panel-body">
                Il n'y a aucun évènement pour l'instant.
            </div>
        {{else}}
            <ul class="list-group">
                {{#each events}}
                    {{> eventPreview}}
                {{/each}}
            </ul>
        {{/if}}
    </div>
</template>
