<template name="eventPreview">
    <span class="list-group-item animated fadeIn">
        {{name}}
        <span class="actions">
            <span class="btn-group btn-xs pull-right" role="group">
                <button type="button" class="btn btn-default btn-xs event-display">
                    <i class="fa fa-fw fa-eye"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs event-edit">
                    <i class="fa fa-fw fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs event-remove">
                    <i class="fa fa-fw fa-remove"></i>
                </button>
            </span>
        </span>
    </span>
</template>
