<template name="groupPreview">
    <span class="list-group-item">
        {{name}}
        <span class="actions">
            <span class="btn-group btn-xs pull-right" role="group">
                <button type="button" class="btn btn-default btn-xs group-edit">
                    <i class="fa fa-fw fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs group-remove">
                    <i class="fa fa-fw fa-remove"></i>
                </button>
            </span>
        </span>
    </span>
</template>
