<template name="index">
    <div class="jumbotron">
        <div class="container-fluid  text-center">
            <h1>
                <i class="fa fa-fw fa-beer"></i>
                Évènements étudiants - Lyon
            </h1>
            <div class="hidden-xs">
                <p>Retrouvez les derniers évènements de la Fédération des Étudiants Lyonnais</p>
                <p>
                    <a href="#" class="btn btn-default">
                        <i class="fa fa-rocket"></i>
                        En savoir plus
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- Events list -->
</template>