<template name="navbar">
    <nav id="#navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor route='index'}}">
                    <img alt="Brand" class="brand" src="/img/logo.gif">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{pathFor route='index'}}">
                            <i class="fa fa-fw fa-home"></i>
                            Évènements
                        </a>
                    </li>
                    <li>
                        <a href="{{pathFor route='houses'}}">
                            <i class="fa fa-fw fa-bed"></i>
                            Logements étudiants
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}
                        <li>
                            <a href="{{pathFor route='admin'}}">
                                <i class="fa fa-fw fa-dashboard"></i>
                                Administration
                            </a>
                        </li>
                        <li>
                            <a href="/api/doc/index.html">
                                <i class="fa fa-fw fa-book"></i>
                                Documentation de l'API
                            </a>
                        </li>
                    {{/if}}
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>
